@import "./mixins.scss";
.site-main {
    width: 100%;
     background-color: #000;
}
body{
   
   background: transparent !important;
 
}
body.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.whatsapp-float i {
    font-size: 28px;
    color: #fff;
}

.whatsapp-float {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 9999;
    width: 56px;
    height: 56px;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    animation: zoomIn 0.6s ease;
    transition: transform 0.3s ease;
    text-decoration: none !important;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

.whatsapp-float img {
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1);
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}



@import 'header';
@import 'sections/home_banner_slider';
@import 'sections/our_services';
@import 'sections/about_us';
@import 'sections/recent_articles';
@import 'sections/hero-image';
@import 'sections/banner_image';
@import 'sections/image_with_title_and_text';
@import 'sections/service_blocks';
@import 'sections/main_services_types';
@import 'sections/custom_service_section';
@import 'sections/single_title_and_text_section';
@import 'sections/contact_us_form';
@import 'sections/faq';
@import 'articles-archive';
@import 'single-article-page';
@import 'footer';